<div class="row">
  <div class="forms">
            <div class="form-group">
              <label class="control-label col-sm-4" for="email">Passport Status</label>
              <div class="col-sm-8">
                <input type="email" class="form-control form-width" id="" name="">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="pwd">Passport No</label>
              <div class="col-sm-8">          
                <input type="" class="form-control form-width" id="" name="">
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">Passport Issue date</label>
                <div class="col-sm-8">          
                  <input type="" class="form-control form-width" id="" name="">
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-4" for="pwd">Passport Validity date</label>
                  <div class="col-sm-8">          
                    <input type="" class="form-control form-width" id="" name="">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="pwd">Passport Send by</label>
                    <div class="col-sm-8">          
                      <input type="" class="form-control form-width" id="p" name="">
                    </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-sm-4" for="pwd">Receiving date</label>
                      <div class="col-sm-8">          
                        <input type="" class="form-control form-width" id="p" name="">
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">Counrty</label>
                        <div class="col-sm-8">          
                          <input type="input" class="form-control form-width">
                        </div>
                      </div>
                   </div>
</div>

