
<div class="row">
  <div class="forms">
         <form class="form-horizontal">
            <div class="form-group">
                <div class="tab">
                    <a routerLink="applicantdetails" routerLinkClass="active"><button class="tablinks ">Personal Details</button></a>
                    <a routerLink="applicantPremed" routerLinkClass="active"><button class="tablinks">Pre Med</button></a>
                    <a routerLink="applicantPassport"><button class="tablinks">Passport</button></a>
                    <a routerLink="applicantMedical"><button class="tablinks">Medical</button></a>
                    <a routerLink="applicantTesda"><button class="tablinks">TESDA</button></a>
                   
                </div>
                <div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </form>
      </div>
  </div>