
    <div class="container-login100">
      <div class="wrap-login100">
          <form class="login100-form validate-form flex-sb flex-w">
              <span class="login100-form-title">
                  Account Login
              </span>

              <span class="txt1">
                  Username
              </span>
              <div class="wrap-input100 ">
                  <input class="input100" type="text" name="username" >
                  <span class="focus-input100"></span>
              </div>
              
              <span class="txt1">
                  Password
              </span>
              <div class="wrap-input100">
                 
                  <input class="input100" type="password" name="pass" >
                  <span class="focus-input100"></span>
              </div>
              
              <div class="flex-sb-m w-full">
                  <div>
                      <a href="#" class="txt3">
                          Forgot Password?
                      </a>
                  </div>
              </div>

              <div class="container-login100-form-btn">
                 <a routerLink="/first"><button class="login100-form-btn">
                      Login
                  </button></a>
              </div>

          </form>
      </div>
  </div>