
.navbar{
  margin-bottom: 0px;
  border-radius: 0px;


}
.navbar-nav{
float: right;
padding-right: 10px;
}
.navbar-form{
text-align: right;
}
.navbar-inverse{
background-color: #252525;
border: none;
padding: 4px 0px;
}
.navbar-brand{
padding: 15px 75px;
}
.form-control{
border-radius: 20px;
padding: 6px 30px 6px 12px;
}
